{% extends 'index.html' %}
{%load static%}
{% block content%}
   {% for product1 in products1  %}
   <div  class="text-center alert alert-success">
    <div class="row">
        <div class="col-md-2">
            <img src="{{ MEDIA_URL }}{{ product1.store_image.url }}" class="card-img-top" alt="{{product1.medical_name }}" style="width:80%;height:110;padding:6px;display:flex;">
        </div>
        <div class="col-md-9">
<h4>{{ product1.medical_name }}</h4>
<p style="font-family:Serif;color:black;text-align:center;font-size:15px">Mobile : {{ product1.mobile }}  |   Email : {{ product1.email }}  |  Address : {{ product1.address }}    |  Discount : {{ product1.discount }}%</p>
        </div></div>
</div>


        <div class="row">
            <div class="col-sm-2" style="padding:px;">
                <p style="font-family:Serif;color:black;text-align:center;font-size:15px">Medicine Name :</p>
            </div>
            <div class="col-sm-2" style="padding:px;">
                <p style="font-family:Serif;color:black;text-align:center;font-size:15px">Add More Item</p>
            </div>
            <div class="col-sm-2" style="padding:px;">
                <p style="font-family:Serif;color:black;text-align:center;font-size:15px">Price :</p>
            </div>
            <div class="col-sm-2" style="padding:px;">
                <p style="font-family:Serif;color:black;text-align:center;font-size:15px">Quantity :</p>
            </div>
            <div class="col-sm-2" style="padding:px;">
                <p style="font-family:Serif;color:black;text-align:center;font-size:15px">Total :</p>
            </div>
            <div class="col-sm-2" style="padding:px;">
                <p style="font-family:Serif;color:black;text-align:center;font-size:15px">After Discount Price :</p>
            </div>
        </div>
        <p class = "divider-text"></p>

        {% for product in products %}
        <div class="row">
            <div class="col-sm-2" style="padding:px;">
                <p style="font-family:Serif;color:black;text-align:center;font-size:15px">{{ product.medicine }} :</p>
            </div>
            <div class="col-sm-2" style="padding:px;">
                <form action ="{% url 'checkoutinsert' %}" method ="POST">
                    {% csrf_token %}
                    <input type="hidden" name="medicine" value="{{ product.medicine }}">
                    <input type="hidden" name="mid" value="{{ product.mid }}">
                    <input type="hidden" name="sid" value="{{ product1.sid }}">
                    <input type="hidden" name="price" value="{{ product.price }}">
                    <input type="hidden" name="discount" value="{{ product.discount }}">
                    <div class="row">
                    <div class="col-sm-1" style="padding:8px;">
                          <button class="btn btn-outline-danger" type="submit" name="submit1"><i class="fa fa-minus" aria-hidden="true"></i></button>
                          </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <div class="col-sm-7" style="padding:5px;">
                          <input class="form-control me-2"  type="number" id="quantity" name="quantity" value={{ product.quantity }} min="0" max="100" value="0" aria-label="Search" required>
                          </div>
                          <div class="col-sm-1" style="padding:8px;">
                          <button class="btn btn-outline-danger" type="submit" name="submit2"><i class="fa fa-plus" aria-hidden="true"></i></button>
                          </div>
                          </div>
                        </form>

            </div>
            <div class="col-sm-2" style="padding:px;">
                <p style="font-family:Serif;color:black;text-align:center;font-size:15px">{{ product.price }} Rs.</p>
            </div>
            <div class="col-sm-2" style="padding:px;">
                <p style="font-family:Serif;color:black;text-align:center;font-size:15px">{{ product.quantity }}.</p>
            </div>
            <div class="col-sm-2" style="padding:px;">
                <p style="font-family:Serif;color:black;text-align:center;font-size:15px">{{ product.total }} Rs.</p>
            </div>
            <div class="col-sm-2" style="padding:px;">
                <p style="font-family:Serif;color:black;text-align:center;font-size:15px">{{ product.Medicine_total }} Rs.</p>
            </div>
        </div>
        {% endfor %}
        <p class = "divider-text"></p>
        <div class="row">
            <div class="col-sm-5" style="padding:px;">
                <p style="font-family:Serif;color:black;text-align:left;font-size:20px">Total : </p>
                <p style="font-family:Serif;color:black;text-align:left;font-size:20px">Total After Medical Discount {{ product1.discount }}% : </p>
            </div>
            <div class="col-sm-4" style="padding:px;">
            </div>
            <div class="col-sm-3" style="padding:px;">
                <p style="font-family:Serif;color:black;text-align:center;font-size:20px">{{ total }} Rs. </p>
                <p style="font-family:Serif;color:black;text-align:center;font-size:20px">{{ total1 }} Rs.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10" style="padding:px;"></div>
            <div class="col-sm-1" style="padding:px;">
                <a href ="{% url 'order' product1.sid %}"><button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="float:center;">Place Order</button></a>
            </div>
        </div>


{% endfor %}


{% endblock content%}